@use '../base/variable' as var;
@use '../base/mixin' as mix;

.general-phone {
	position: relative;
	display: inline-block;
	color: var.$accentColor;
	@include mix.adaptivFont(62, 28);
	line-height: 1.1em;

	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 0;
		background: var.$accentColor;
	}

	@media (any-hover: hover) {
		&:hover {
			&:before {
				height: 2px;
			}

		}
	}
}