@use '../base/variable' as var;
@use '../base/mixin' as mix;

.general-phone {
	display: block;
	color: var.$accentColor;
	@include mix.adaptivFont(62, 28);
	line-height: 1.1em;

	@media (any-hover: hover) {
		&:hover {
			text-decoration: underline;
		}
	}
}