@use '../base/variable' as var;
@use '../base/mixin' as mix;

.button {
	@include mix.displayFlex(flex, center, center);
	box-sizing: border-box;
	width: 100%;
	padding: 1em 1em;
	@include mix.adaptivFont(var.$generalTextSize, var.$generalTextSizeMin);
	color: var.$linkColor;
	line-height: var.$generalLineHeight;
	font-weight: 400;
	background: transparent;
	border: 2px solid var.$linkColor;
	border-radius: 0;
	transition: color .6s ease, background 2s ease;

	@media (hover: hover) and (pointer: fine) {
		&:hover {
			color: var.$lightColor;
			background: var.$accentColor;
		}
	}
}

[data-aos="btn-animation"] {
	opacity: 0;
	transition: opacity 1s;

	&.aos-animate {
		opacity: 1;
	}
}