@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../base/extentsions';

.social {
	position: relative;

	&__list {
		@include mix.displayFlex(flex, start, center);
		gap: 18px
	}

	&__link {
		display: block;
		width: 24px;
		height: 24px;
		transition: opacity .3s ease;

		&>img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		@media (any-hover: hover) {
			&:hover {
				opacity: .7;
			}
		}
	}
}