@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../base/extentsions';

.swiper {
	max-width: 1000px;
	height: 100%;
}

.swiper-slide {
	box-sizing: border-box;
}

.swiper-button-next:after,
.swiper-button-prev:after {
	font-size: 0;
	width: 100%;
	height: 100%;
}

.swiper-button-prev:after {
	background: url('../../assets/images/icon/arrow-slider-prev.svg') center center / cover no-repeat;
}

.swiper-button-next:after {
	background: url('../../assets/images/icon/arrow-slider-next.svg') center center / cover no-repeat;
}

.swiper-button-next,
.swiper-button-prev {
	top: 100%;
	width: 60px;
	height: 10px;
	transition: .8s opacity ease, .4s transform ease;

	@media (any-hover: hover) {
		&:hover {
			opacity: .6;
		}
	}

	&:active {
		transform: scale(.8);
	}
}

.swiper-button-next {
	right: 40%;

}

.swiper-button-prev {
	left: 40%;

}