@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../base/extentsions';
@use '../modules/logo';

.footer {
	@include mix.adaptivFont(14, 8);
	line-height: 1.3em;

	&__wrapper {
		@include mix.displayFlex(flex, space-between, center);
		gap: 10px;
		padding: 2em 0;
		border-top: 1px solid #74725B;
	}

	&__column {
		display: flex;
		align-items: flex-end;
		flex-direction: column;
		gap: 10px;
	}

	&__item {
		margin-bottom: 0.3em;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__link {
		text-decoration: underline;

		@media (any-hover: hover) {
			&:hover {
				text-decoration: none;
			}
		}
	}
}