@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../base/extentsions';

.call {
	overflow: hidden;
	position: relative;
	color: var.$lightColor;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #074631;
	}

	&__video {
		display: none;
		position: absolute;
		z-index: -1;
		right: 0;
		top: 0;
		min-width: 100%;
		min-height: 100%;
	}

	@media (any-hover: hover) {

		&::before {
			opacity: .6;
		}

		&__video {
			display: block;
		}
	}

	&__title,
	&__phone {
		color: var.$lightColor;

		&::before {
			background: var.$lightColor;
		}
	}

	&__wrapper {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-gap: 20px;
		height: 500px;
	}

	&__item {
		&_1 {
			grid-area: 1 / 1 / 2 / 13;
		}

		&_2 {
			grid-area: 2 / 1 / 3 / 13;
			display: grid;
			grid-gap: 10px;
			align-content: end;
			place-content: end;
			text-align: right;
		}
	}

	&__title {
		display: inline-block;
		max-width: 50%;
		line-height: 1.1em;
		font-weight: 400;
		padding-left: 0;
		letter-spacing: -2%;

		&:before {
			top: 0;
			width: 100%;
			background: var.$lightColor;
		}

		&:after {
			display: none;
		}
	}
}