@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../base/extentsions';
@use '../modules/button-dawn';

.contact {
	color: var.$lightColor;

	&__form-container {
		background: var.$accentColor;
	}

	&__button {
		color: #FFF;
		border-color: #FFF;
	}
}