@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../base/extentsions';

.hero {
	margin-top: 40px;
	position: relative;
	@include mix.displayFlex(flex, center, center);

	@media (any-hover: hover) {
		background-attachment: fixed;
	}

	&__wrapper {
		height: 80vh;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(8, 1fr);
		grid-gap: 20px;
	}

	&__item {
		&_1 {
			grid-area: 1 / 1 / 4 / 7;
			overflow: hidden;
		}

		&_2 {
			grid-area: 4 / 1 / 6 / 4;
			font-size: 22px;
		}

		&_3 {
			grid-area: 4 / 4 / 6 / 7;
		}

		&_4 {
			grid-area: 6 / 1 / 7 / 7;
		}

		&_5 {
			grid-area: 7 / 1 / 8 / 7;
		}

		&_6 {
			grid-area: 1 / 8 / 8 / 13;
		}

		&_7 {
			grid-area: 8 / 1 / 9 / 13;
		}
	}

	&__main-title {
		margin-bottom: 0.3em;
		font-family: var.$subFamily;
		letter-spacing: -1.86px;
	}

	&__image {
		width: 100%;
		height: 100%;
		background: url('../../assets/images/bg-hero.jpg') center center / cover no-repeat;
	}

	&__subtitle {
		margin-bottom: 1em;
	}

	&__call-text {
		margin-bottom: 1em;
	}

	&__phone {}

	&__buttons {
		@include mix.displayFlex(flex, flex-start, center);
		width: 100%;
	}

	&__button {
		box-sizing: border-box;
	}

	@media (any-hover: hover) {
		&__button_order-call {
			display: flex;
		}

		&__button_call {
			display: none;
		}
	}
}